django>=4.0,<5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
psycopg[binary]
django-environ
pgvector
celery
redis
python-dotenv
pytesseract
opencv-python
pdf2image
torch
torchvision
spacy
sentence-transformers
scikit-learn
pandas
openpyxl
cryptography
django-celery-results
django-celery-beat
reportlab>=4.0.0
supabase>=2.0.0
